@import url("chosen.css");

body {
    background-image: url("../img/pattern.png");
    width: 100%;
}

.clear {
    clear: both;
}

.centered {
    margin: 0 auto;
}

.header {
    width: 845px;
    margin-top: 3px;
}

.header_condensed {
    width: 600px;
    margin-top: 3px;
}

.body {
    width: 845px;
    padding-top: 10px;
    padding-bottom: 30px;
    clear: both;
}

.small_logo {
    background-image: url("../img/small_logo.png");
    width: 39px;
    height: 40px;
    float: left;
}

.logo {
    background-image: url("../img/d2_logo.png");
    display: block;
    width: 234px;
    height: 120px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.account {
    padding-top: 16px;
    float: right;
}

form .item_field, form .item_textarea_field,
form .hero_field, form .hero_textarea_field {
    width: 700px;
}

form .guide_name {
    width: 420px;
    float: left;
    margin-right: 10px;
}

.guide_hero_name {
    width: 282px;
    float: left;
    margin-right: 10px;
}

.guide_submit {
    float: left;
    width: 82px;
    height: 19px;
    display: block;
    margin-top: 5px;
    background-image: url("../img/create_submit.png");
    padding-top: 8px;
    padding-left: 35px;
}

.guide_submit:hover {
    background-position: right;
}

.create_guide {
    background-image: url("../img/create.png");
    background-repeat: no-repeat;
    width: 185px;
    height: 30px;
    border: 0;
    outline: 0;
    float: right;
}

.create_guide a {
    padding-left: 25px;
    padding-top: 8px;
    display: block;
}

.create_guide:hover {
    cursor: pointer;
    background-position: -185px 0px;
}

.submit {
    padding: 10px 25px;
}

.guides_list {
    width: 600px;
}

.guides_list h1 {
    padding-top: 3px;
    float: left;
}

.page_numbers li {
    float: left;
    margin-right: 5px;
}

.hero_image {
    float: left; 
    margin-right: 10px;
}

/*
*
* Create A Guide
*
*/

.guide_info {
    width: 845px;
    display: inline-block;
    clear: both;
}

.top {
    width: 845px;
    display: block;
}

.bottom {
    display: block;
    clear: both;
}

.left_column {
    width: 475;
    min-height: 500px;
    padding-top: 20px;
    float: left;
}

.left_column_view {
    width: 475;
    min-height: 500px;
    padding-top: 10px;
    float: left;
}

.fixed {
    position: fixed;
    top: 0;
}

.right_column {
    min-height: 500px;
    padding-top: 10px;
    float: right;
}

.right_column h1 {
    clear: both;
    color: #829b6d;
}

.right_column textarea {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 403px;
    height: 669px;
}

.shop_sections {
    clear: both;
    display: block;
    margin-bottom: 20px;
}

.shop_sections li {
    float: left;
    margin-right: 10px;
    display: inline;
}

.guide_section {
    display: inline-block;
    min-height: 51px;
    width: 407px;
    background-color: rgba(24, 24, 24, 0.5);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.left_column .guide_section {
    display: inline-block;
    min-height: 51px;
    width: 407px;
    background-color: rgba(24, 24, 24, 0.5);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.basics_section .items, .upgrades_section .items, .secrets_section .items {
    display: inline-block;
    width: 407px;
    background-color: rgba(24, 24, 24, 0.5);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: 1px solid #3e1a1a;
}

.item {
    width: 62px;
    height: 46px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    background-color: #5E7C88;
    z-index: 0;
}

.item img{
    z-index: 0;
}

.item:hover {
    cursor: pointer;
}

.tooltip {
    padding: 10px;
    width: 200px;
    position: absolute;
    display: none;
    background-color: rgba(24, 24, 24, 0.9);
    z-index: 999;
}

.tooltip .tipHead {
    padding-bottom: 5px;
}

.hero_list {
    padding: 5px 0px 0px 5px;
    background-color: rgba(24, 24, 24, 0.5);
    clear: both;
    z-index: 150;
    margin-top: 7px;
    display: none;
}

.hero {
    float: left;
    margin-right: 5px;
    margin-bottom: 2px;
    display: block;
}

.hero:hover {
    cursor: pointer;
}

/*
*
*    GUIDE VIEW
*
*/

.guide_view_title {
    padding-top: 7px;
    float: left;
}

.guide {
    padding-bottom: 10px;
}

.download {
    background-image: url('/static/img/create.png');
    background-position: left;
    width: 185px;
    height: 30px;
    border: 0;
    outline: 0;
    float: right;
    margin-top: 3px;
}

.download a {
    padding-left: 40px;
    padding-top: 8px;
    display: block;
}

.download:hover {
    cursor: pointer;
    background-position: -185px 0px;
}

/*
*
*    LOGIN/REGISTER
*
*/
.login_register {
    width: 540px;
    min-height: 200px;
    margin: 0 auto;
}

.login {
    width: 250px;
    float: left;
    min-height: 200px;
    padding: 10px;
}

.register {
    width: 250px;
    float: left;
    min-height: 200px;
    padding: 10px;
}

form .login_text {
    width: 250px;
}