body {
	background-image: url("../img/pattern.png");
	width: 100%;
	height: 100%;
}

.centered {
	margin: 0 auto;
	width: 830px;
}

.header {
	width: 100%;
}

.body {
	padding-top: 10px;
	clear: both;
}

.small_logo {
	background-image: url("../img/small_logo.png");
	width: 29px;
	height: 17px;
	margin-top: 10px;
	float: left;
}

.logo {
	background-image: url("../img/d2_logo.png");
	display: block;
	width: 180px;
	height: 100px;
	margin: 0 auto;
	margin-top: 100px;
}

.account {
	padding-top: 12px;
	float: right;
}

form .name, form .description, form .image_name, form .cost {
	width: 700px;
}

form .guide_name {
	width: 445px;
	float: left;
	margin-right: 12px;
}

form .guide_hero_name {
	width: 230px;
	float: left;
	margin-right: 10px;
}

.guide_submit {
	float: left;
	width: 82px;
	height: 19px;
	display: block;
	margin-top: 4px;
	background-image: url("../img/create_submit.png");
}

.guide_submit:hover {
	background-position: right;
}

.create_guide {
	background-image: url("../img/create.png");
	background-repeat: no-repeat;
	width: 300px;
	height: 69px;
	border: 0;
	outline: 0;
	margin: 0 auto;
}

.create_guide a {
	padding-left: 50px;
	padding-top: 22px;
	display: block;
}

.create_guide:hover {
	cursor: pointer;
	background-position: -300px 0px;
}

.submit {
	padding: 10px 25px;
}

/*
*
* Create A Guide
*
*/

.guide_info {
	width: 830px;
	display: inline-block;
	clear: both;
}

.top {
	width: 830px;
	display: block;
}

.bottom {
	display: block;
	position: relative;
	clear: both;
}

.left_column {
	width: 475;
	min-height: 500px;
	padding-top: 20px;
	float: left;
}

#guide {
	padding-top: 10px;
}

.fixed {
	position: fixed;
	top: 0;
}

.right_column {
	min-height: 500px;
	padding-top: 10px;
	float: right;
}

.right_column h1 {
	clear: both;
	color: #829b6d;
}

.shop_sections {
	clear: both;
	display: block;
	margin-bottom: 20px;
}

.shop_sections li {
	float: left;
	margin-right: 10px;
	display: inline;
}

.guide_section {
	display: inline-block;
	min-height: 69px;
	width: 450px;
	background-color: #181818;
	opacity: 0.5;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.basics_section .items, .upgrades_section .items {
	display: inline-block;
	width: 365px;
	background-color: rgba(24, 24, 24, 0.5);
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border: 1px solid #3e1a1a;
}

.item {
	width: 85px;
	height: 64px;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	background-color: #5E7C88;
	z-index: 0;
}

.item:hover {
	cursor: pointer;
}

.hero_list {
	padding: 5px;
	background-color: rgba(24, 24, 24, 0.5);
	clear: both;
	z-index: 150;
	margin-top: 7px;
	display: none;
}

.hero {
	float: left;
	margin-top: 5px;
	display: block;
}

.hero:hover {
	cursor: pointer;
}